@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

:root {
    font-size: 0.625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: black;
    overflow: auto;
    height: 100vh;
}

body {
    background-image: url('./img/pasta-bg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, background-size 0.5s ease, background-position 0.5s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: beige;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-button {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    color: #333;
    outline: none;
}

.nav-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #333;
    transition: width 0.3s ease;
}

.nav-button:hover::after {
    width: 100%; 
}

.nav-button:hover {
    color: #555;
}

.nav-button.active::after {
    width: 100%;
}


footer {
    text-align: center;
    background-color: beige;
}

#content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}



